#cardContainer {
    background-color: rgb(245, 245, 245);
    height: 300px;
    width: 250px;
    padding:10px ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.userImage {
height: 80px;
display: flex;
align-items: center;
width: 80px;
font-size: 40px;
border-radius: 50%;
background-color: rgba(139, 139, 139, 0.475);
}
.userName {
    padding: 5px 0;
}
.design {
    font-size: 18px;
    font-weight: 600;
}

.description {
    text-align: center;
}
.btn {
    margin-top: 10px;
    padding: 5px 28px;
}